html{
    box-sizing: border-box;
}

*,
*::before
*::after{
    box-sizing:inherit
}

body{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    background: #11161E;
}

.container{
    max-width: 1153px;
    padding: 0 10px;
    margin: 0 auto;
}

header{
    position: relative;
    left: 0;
    right: 0;
}

a{
    text-decoration: none;
}

h2{
    color: #FFF;
    font-family: Montserrat;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p{
    color: #6A7C95;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.8%; /* 28.56px */
}

.green{
    color: #5CA35B !important;
}

.menu{
    padding:60px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__list{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    gap: 64px;
}

.menu__list a{
    color:#76869F;
}
.menu__list a:hover{
    color:#5CA35B;
    text-shadow: 0 0 10px #5CA35B;
}

ul{
    list-style: none;
}

.first-screen__container{
    margin-top: 92px;
    display: flex;
}

.first-screen__introduction{
    padding: 41px 46px 0 0;
}

.first-screen__title{

    font-family: Montserrat;
    font-size: 57px;
    font-style: normal;
    font-weight: 700;
    line-height: 114.8%; 
}

.first-screen__text{
    font-size: 26px;
    margin: 35px 0px 54px;
}

.first-screen__btn{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    color:#5CA35B;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 151.3%; 
    padding: 24px 26px;
    border-radius: 10px;
    background:none;
    border: solid #5CA35B 1px;
    transition: 0.5s box-shadow;
}

.first-screen__btn:hover{
    cursor: pointer;
    color: #5CA35B;
    background: none;
    box-shadow: 0 0 10px #5CA35B;
}
.first-screen__info{
    display: flex;
    margin: 152px 0 164px;
    gap: 34px;
    align-items: center;
}

.first-screen__info a{
    color: rgba(118, 134, 159, 0.80);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 151.3%;
    display: flex;
}
.first-screen__info-item a{
    display: flex;
    align-items: center;
    gap: 12px;
}

.first-screen__info-item p:hover{
color: #5CA35B;
}

.screen-2{
    padding-top: 142px;
    background-color:#181F29;
    padding-bottom: 163px;
}

.screen-2__text{
    margin: 13px 0 55px;
}

.screen-2--cards{
    display: flex;
    gap: 95px;
    
}
.screen-2__item{
    width: 317px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    border-radius: 15px;
    background: #273140;
    padding: 25px;
}

.screen-2__item h2{
    font-size: 28px;
    margin: 20px 0;
}

.screen-2__item p{
    font-size: 18px;
}

.screen-3{
    padding-top: 125px;
}

.screen-3 p{
    margin: 20px 0 55px;
}

.screen-3__brands{
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 136px;
}

.screen-4{
    background-color: #181F29;
    padding-top: 112px;
}

.screen-4 p{
    width: 512px;
    margin: 13px 0 26px;
}

.wrap{
    display: flex;
    gap: 98px;
}

.screen-4__img{
    display: flex;
    gap: 68px;
}


.scr-4_img-1{
    display: flex;
    align-self: flex-end;
    width: 180px;
    height: 290px;
    border-radius: 20px;
}

.screen-4__link{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 262px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #212A38;;
    transition: 0.5s;
}

.screen-4__link a{
    color: #92ABCE;  
}

.screen-4__link:hover{
    cursor: pointer;
    color: #1db3ea;
    border: 2px solid #1db3ea;
    background: none;
    box-shadow: 0 0 10px #1db3ea;
}

::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #92ABCE;
    border-radius: 20px;
    border: 8px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: transparent
  }

.screen-5{
    padding-top: 129px;
}
.scr-5__text {
    width: 514px;
    word-wrap: break-word;
    margin: 10px 0 50px;
}

  .price__cards{
    display: flex;
    justify-content: space-between;
  }

  .price__card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 317px;
    height: 437px;
    border-radius: 15px;
    background: #273140;
    margin-bottom: 169px;
}

.card-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 47px 26px 0;
}

  .price__card ul{
    list-style-type:inherit;
    color: #717E92;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160.3%; 
  }

  .scr-5__small-text{
    color: #717E92;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.8%;
    margin-bottom: 23px;
  }

.scr-5__btn{
    color:#FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 248px;
    height: 38px;
    border-radius: 5px;
    margin-bottom: 47px;
}

.scr-5__btn p{
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn-1{
    background: #6A7395;
}

.btn-2{
    background: #6A9590;
}

.btn-3{
    background: #95936A;
}

.last-screen{
    background-color:#181F29;
    padding: 112px 0;
}

.last-screen p{
    width: 479px;
    word-wrap: break-word;
    margin: 14px 0 26px;
}

.last-screen__img{
    display: flex;
    gap: 38px;
}

.footer__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0 50px;
}
.logo-link{
    display: flex;
    align-items: center;
    gap: 18px;
}

.logo-link p{
    width: 143px;
}

.footer__link p{
    word-wrap: break-word;
    color: #2D3746;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 128.8%; /* 15.456px */
}

.text-r{
    display: flex;
    text-align: right;
    word-wrap: break-word;
}
.r-footer__link{
    width: 116px;
}